/*==========================================
    feature
==========================================*/
.feature {
    padding: 117px 0 90px;
    .single-feature {
        text-align: center;
        padding: 40px 30px 15px;;
        margin-bottom: 30px;
        @include transition($transition);
        box-shadow: 0px 0px 9px 2px #F5F5F5;
        .part-icon {
            color: #0088ff;
            font-size: 45px;
            line-height: 100%;
            margin-bottom: 24px;
            @include transition($transition);
        }
        .part-text {
            h3 {
                font-size: 24px;
                font-weight: 600;
                color: $hcolor-3;
                margin-bottom: 16px;
                @include transition($transition);
            }
            p {
                color: #666;
                font-size: 16px;
                line-height: 30px;
                @include transition($transition);
            }
        }
        &:hover {
            box-shadow: 0px 0px 19px 12px #F5F5F5;
        }
    }
}